<div class = "row">
  <div class="col-md-3">
    <%= image_tag @event.logo_url, alt: :Akshat, class: "img-responsive" %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <%= discussion.name + ' - ' + discussion.topic %>
    </div>
    <div class="row">
      <%= truncate(strip_tags(discussion.description), length: 300) %>
    </div>
  </div>
</div>
