
<h3>Listing Discussions </h3>
<div class='container'>
  <!-- # [TODO - S] There is an option to render entire collection. Search for it -->
  <% @discussions.each do |discussion| %>
    <div class='row'>
      <br><hr>
      <%= render discussion %>
    </div>
  <% end %>
</div>
