<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= get_user_name(@user) %></h3>
    <p>
      This is a reminder mail to tell you that a discussion <b><%= @discussion.name %></b> you subscribed for
      will commence in 30 minutes.
      It will take place at <b><%= @discussion.location + ', ' + @event.address.city + ' ' + @event.address.country %></b>
    <p>
      Hope to see you in attendance
  </body>
</html>
