<br>
<div class='container'>
  <div class='row'>
    <%= render @event %>
  </div>
  <div class='row'>
    <h2>Discussions</h2>
    <br><hr>
    <% if @discussions.empty? %>
      <br>
      <strong class='alert'>No discussions exist</strong>
    <% else %>
    <!-- # [DONE TODO - S] What does each_slice do? -->
    <!-- Iterates over the enumerable object and returns records in the quantities specified for each iteration -->
      <% @discussions.each_slice(3) do |discussions| %>
        <div class='row'>
          <% discussions.each do |discussion| %>
            <div class='col-md-3'>
              <%= render discussion %>
            </div>
            <div class='col-md-1'>
            </div>
          <% end %>
        </div>
        <hr><br>
      <% end %>
    <% end %>
  </div>
</div>
